.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@primary500: #2196F3;
@primary400: #42A5F5;
@primary200: #90CAF9;
@primary100: #BBDEFB;
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding: 0;
	h3 {
	  margin-top: 0;
	  margin-bottom: 0;
	  line-height: 40px;
	  padding-bottom: 19px;
	}
  .navbar{
    background: @primary500;
  }
	.jumbotron{
    height: 400px;
    background-image: url("/images/cover1.jpg");
    background-size: cover;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.16), 0 5px 20px 0 rgba(0,0,0,.12);
	}
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
	  font-size: 21px;
	  padding: 14px 24px;
  }
}

.card {
  border: 0px;
  border-radius: 0 0 2px 2px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,.16), 0 2px 7px 1px rgba(0,0,0,.12);
  .card-header{
    background-color: @primary500;
    color: white;
    border-radius: 0;
  }
}

.flat-btn{
  color: @primary500;
  font-weight: 500;
  height: 36px;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
  &:hover{
    background-color: rgba(0,0,0,.03);
    text-decoration: none;
    color:@primary400; 
  }
}

.article-list{
  .article-card{
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    transform: translateZ(0);
    .card{
      &:hover{
        box-shadow: 0px 5px 11px 3px rgba(0,0,0,.16), 0px 5px 11px 3px rgba(0,0,0,.12);
      }
      .flat-btn{
        color: white;
        &:hover{
          background-color: transparent;
          text-decoration: none;
          color: rgba(255,255,255,0.7); 
        }
      }
      .card-top{
        position: relative;
        .card-img-top{
          max-height: 100%;
          max-width: 100%;
          border-radius: 0;
        }
        .card-title{
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 16px;
          background: rgba(0.2,0.2,0.2,0.2);
          margin: 0px;
          color: #f7f7f7;
        }
      }
      .flat-btn{
        margin-left: -8px;
      }
    }
  }
}

.flex-container{
  display: flex;
  justify-content: flex-start;   /* adjustment */
  position: relative;
}
.article-header{
  position: relative;
  top: -100px;
  min-height: 150px;
  margin: -50px auto -50px auto;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 30px;
  }
  &.ng-enter {
      transition: .5s;
      opacity: 0;
  }
  &.ng-enter-active {
      opacity: 1;
  }
}

html,body {
    height:100%;
}

.article-navigation{
  position: absolute;
  margin-left: calc(~"50% + 400px");
  white-space: nowrap;
  height: 100%;
  padding-top: 1rem;
  .article-sticky {
    top: 10px;
    position: sticky;
    padding: 8px; 
    ul{
      .divider{
        margin: 8px 0;
          @media screen and (max-height: 700px) {
            margin: 3px 0;    
          }
        border-top: 1px rgba(0,0,0,0.11) solid;
      }
       > .nav-item {
        padding: 0px 0px;
        overflow: hidden;
        ul{
          font-weight: 400;
          transition: height 0.3s ease-in-out;
          .nav-item{
            padding: 0px;
            overflow: visible;
            a{
              padding: 8px 32px;
              width: 100%;
            }
          }
        }
        &:not(.active) ul {
          height: 0 !important;        
        }
        &.active {
          ul{
          }
          > a{
            font-weight: 600;
            background-color: rgba(0,0,0,.05);
            color: @primary500;
          }
        }
        a {
          padding: 8px 16px;
          @media screen and (max-height: 700px) {
            padding-top: 3px;  
            padding-bottom: 3px;  
          }
          color: rgba(0,0,0,.9);
          transition: background-color 0.2s ease;
          &:hover{
            background-color: rgba(0,0,0,.03);
            color:@primary400; 
          }
        }
      }
    }
  }
}
.container-article{
  position: relative;
  font-size: 17px;
  color: rgba(0,0,0,.7);
  
  .article{
    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: inherit;
    }
    h4 {
      font-weight: 700;
      font-size: 17px;
      line-height: inherit;
    }
    &.ng-enter {
        transition: .5s;
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
  }
}

.article-image{
  display: block;
  margin-bottom: 16px;
  .image-overlay{
    img{
      cursor: zoom-in;
      position: relative;
      max-height: 100%;
      max-width: 100%; 
      margin: 0;
      transition: all .5s ease;
      left: 0;
      top: 0;
      background-color: white;
    }
    .bg{
      cursor: zoom-out;
      transition: background-color 0.5s ease;
      z-index: 10;
      top: 0;
      left: 0;
      position: fixed;
      width: 0;
      height: 0;
      background-color: transparent; 
    }
  }
  &:target {
    .bg{
      background-color: rgba(1,1,1,0.7);
      width: 100%;
      height: 100%;
    }
    img{
      cursor: default;
      z-index: 20;
      max-height: 500vh;
      left: 50%;
      max-width: 1000px;
      margin-left: -500px;
      top: 10%;
    }
    .description{
      width: 1000px;
      left: 50%;
      margin-left: -500px;
      z-index: 20;
      color: white;
      font-size: 17px;
      background-color: rgba(1,1,1,0.2);
    }
  }
  .description{
    font-style: italic;
    font-size: 13px;
    transition: all .5s ease;
    left: 0;
    position: relative;
    p {
      margin: 0;
    }
    padding: 16px;
    width: 100%;
    background-color: rgba(0,0,0,.05);
  }
}

@media (min-width: 576px) {
  .container-article {
    width: 540px;
    max-width: 100%;
  }
  .article-header{
    width: 600px;
  }
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container-article {
    width: 720px;
    max-width: 100%;
  }
  .article-header{
    width: 750px;
  }
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px){
  .container {
    width: 960px;
    max-width: 100%;
  }
  .container-article {
    width: 720px;
    max-width: 100%;
  }
}

.card-columns {
  @media (min-width: 576px) {
    column-count: 1;
  }
  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 992px){
    column-count: 3;
  }
}