
<div class="container">
	<div class="article-list card-columns">
		<div class=" article-card" ui-sref="article.removable">
			<div class="card ">
			<img class="card-img-top" src="images/media.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Removable Media</h4>
			    <p class="card-text">One should not use them.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Network Security</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Monitoring</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" ui-sref="article.monitoring" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Risk Incidence</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" ui-sref="article.risk-incidence" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Featured</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Featured</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Featured</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Featured</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class=" article-card">
			<div class="card ">
			  <h3 class="card-header">Featured</h3>
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="flat-btn">Go somewhere</a>
			  </div>
			</div>
		</div>
</div>
