<div class="container">
      <h3>Introduction to our website</h3>
      <p>
      <b>Welcome</b> to our site, where we compile and share our knowledge about the Cyber Security of Industrial Control Systems (ICS). Here we address the 10 most important areas of ICS security as described by the British National Cyber Security Centre (NCSC). We aim to give descriptions of each of the areas, methods of improving security with their respect, and provide examples of possible problems. This website also contains detailed case studies of real-world attacks on ICS with recommendations and analyses.
      </p>

      <blockquote class="blockquote">
      <p>
      “Industrial Control Systems is a general term that encompasses several types of control systems and associated instrumentation used in industrial production, including supervisory control and data acquisition (SCADA) systems, distributed control systems (DCS), and other smaller control system configurations such as programmable logic controllers (PLC) often found in the industrial sectors and critical infrastructures.”
      </p>
      </blockquote>

      <p>
      As a result, they are incredibly important as in the modern world we all rely on continuous uptime of such systems. They often have contracts with almost no outages allowed. Security breaches that target the physical components can lead to live-threatening situations. Due to their importance, they are a large target for elite state-sponsored attacks that are hard to prevent. As a result, their cyber security must be state-of-the-art.
      </p>
</div>


<div class="container">
    <h3>9 Steps to ICS Cyber Security</h3>
	<div class="article-list card-columns">
		<div class=" article-card" href="#" ui-sref="article.removable">
			<div class="card ">
				<div class="card-top">
					<img class="card-img-top" src="images/media.jpg" alt="Media">
					<div class="card-title">
						<h4>Removable Media</h4>
						<a href="#" class="flat-btn">READ MORE ...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.education">
			<div class="card ">
				<div class="card-top">
					<img class="card-img-top" src="images/education.jpg" alt="Education">
					<h4 class="card-title">User Education</h4>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.risk-incidence">
			<div class="card ">
				<h3 class="card-header">Risk Incidence</h3>
				<div class="card-block">
					<h4 class="card-title">Risk & Incidence Management</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" ui-sref="article.risk-incidence" class="flat-btn">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.userprivileges">
			<div class="card ">
				<h3 class="card-header">User Privileges</h3>
				<div class="card-block">
					<h4 class="card-title">User Privileges</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" ui-sref="article.userprivileges" class="flat-btn">I hate comp topics</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.secureconfig" >
			<div class="card">
				<h3 class="card-header">Secure Config</h3>
				<div class="card-block">
					<h4 class="card-title">Secure Configuration</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="flat-btn">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.remoteworking">
			<div class="card">
				<h3 class="card-header">User Privilages</h3>
				<div class="card-block">
					<h4 class="card-title">Home and mobile working</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="flat-btn">Go to remote working</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.monitoring">
			<div class="card">
				<div class="card-top">
					<img class="card-img-top" src="images/monitoring.jpg" alt="Card image cap">
					<div class="card-title">
						<h4>Monitoring</h4>
						<a href="#" class="flat-btn">READ MORE ...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.malware">
			<div class="card">
				<h3 class="card-header">Malware Protection</h3>
				<div class="card-block">
					<h4 class="card-title">Malware Protection</h4>
					<p class="card-text">Prevention is the best defense. Learn about monitoring networks to stop attacks before happening</p>
					<a href="#" class="flat-btn">Go to Monitoring</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.homeworking">
			<div class="card">
				<div class="card-top">
						<img class="card-img-top" src="images/home.jpg" alt="Card image cap">
						<div class="card-title">
							<h4>Home & Mobile working</h4>
							<a href="#" class="flat-btn">READ MORE ...</a>
						</div>
				</div>
			</div>
		</div>
	</div>
  <div class="article-card" ui-sref="article.ukraineCaseStudy">
    <div class="card">
      <div class="card-top">

            <h4>Ukraine Case Study</h4>
            <a href="#" class="flat-btn">READ MORE ...</a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
