
<div class="container">
	<div class="article-list card-columns">
		<div class=" article-card" href="#" ui-sref="article.removable">
			<div class="card ">
				<div class="card-top">
					<img class="card-img-top" src="images/media.jpg" alt="Card image cap">
					<div class="card-title">
						<h4>Removable Media</h4>
						<a href="#" class="flat-btn">READ MORE ...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.education">
			<div class="card ">
				<div class="card-top">
					<img class="card-img-top" src="images/education.jpg" alt="Card image cap">
					<h4 class="card-title">User Education</h4>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.risk-incidence">
			<div class="card ">
				<h3 class="card-header">Risk Incidence</h3>
				<div class="card-block">
					<h4 class="card-title">Card title</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" ui-sref="article.risk-incidence" class="flat-btn">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.userprivileges">
			<div class="card ">
				<h3 class="card-header">User Privileges</h3>
				<div class="card-block">
					<h4 class="card-title">User Privileges</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" ui-sref="article.userprivileges" class="flat-btn">I hate comp topics</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.secureconfig" >
			<div class="card">
				<h3 class="card-header">Secure Config</h3>
				<div class="card-block">
					<h4 class="card-title">Secure Configuration</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="flat-btn">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.remoteworking">
			<div class="card">
				<h3 class="card-header">User Privilages</h3>
				<div class="card-block">
					<h4 class="card-title">Home and mobile working</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="flat-btn">Go to remote working</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.monitoring">
			<div class="card">
				<div class="card-top">
					<img class="card-img-top" src="images/monitoring.jpg" alt="Card image cap">
					<div class="card-title">
						<h4>Monitoring</h4>
						<a href="#" class="flat-btn">READ MORE ...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.malware">
			<div class="card">
				<h3 class="card-header">Malware Protection</h3>
				<div class="card-block">
					<h4 class="card-title">Malware Protection</h4>
					<p class="card-text">Prevention is the best defense. Learn about monitoring networks to stop attacks before happening</p>
					<a href="#" class="flat-btn">Go to Monitoring</a>
				</div>
			</div>
		</div>
		<div class="article-card" ui-sref="article.homeworking">
			<div class="card">
				<div class="card-top">
						<img class="card-img-top" src="images/home.jpg" alt="Card image cap">
						<div class="card-title">
							<h4>Home & Mobile working</h4>
							<a href="#" class="flat-btn">READ MORE ...</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
