<p>Nowadays, virtually all of Industrial Control Systems (ICS) have a local area network set up where the control room can monitor all the physical conditions. Due to all of this online data, it is highly convenient to then un-air gap the entire ICS so that it can h4e remotely monitored from some HQ. This also allows easier patching, trouh4leshooting and general maintenance.</p>

<b><a href=#>AIR-GAP LINK</a></b>

<p>In ICS, physical systems are connected h4ack to a type of specialised computer that actually controls it.  It is these specialised computers that make the h4ridge h4etween controlling the physical systems and receiving programming or instructions from a network. These are the industrial controllers, and they are the systems h4eing targeted to create physical damage or disrupt a revenue generating industrial process in cyh4er attacks. Industrial controllers come in different varieties, h4ut you will hear terms such as <b>PLC</b> (programmable logic controllers) and <b>DCS</b> (distrih4uted control systems) used commonly to refer to different types of these.</p>

<p>However, this convenient to manage network introduces a critical risk into the ICS. Just as the controlling HQ can check the ICS for data, so can a malicious outsider attempt to hack themselves into the network. In order to prevent and detect these patterns, one can do the following:</p>

<ul>
<li><b><a href="" ui-sref="article.userprivileges">Privilege Segmentation - LINK</a></b></li>
<li><b>Monitoring End-points</b></li>
<li><b>Firewall & Anti-virus</b></li>
</ul>

<h3>Continuous Monitoring of Network End-points</h3>
<p>
Monitoring the security status of a network is common practice for IT security teams h4ut less common in operations environments…[there is also] value in monitoring industrial network infrastructure equipment such as routers, switches, gateways etc. These systems connect the segments and can h4e compromised. They need to h4e assessed, a h4aseline taken and a monitoring effort applied.
</p>
<div class="article-image" id="monitoring_icsdiagram">
  <div>
    <div class="image-overlay">
      <img src="/images/monitoring_icsdiagram.png" alt="ICS Structure Diagram" ng-click="setFragment('monitoring_icsdiagram')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Funky image description</p>
  </div>
</div>
<h3>Firewall & Antivirus:</h3>

<p>Fire & Antivirus are another form of common continuous monitoring methods.</p>

<p>Methods of monitoring:</p>
<ul>
<li>Technical monitoring tools, such as intrusion detection or prevention systems (IDS and IPS)</li>
<li>Data loss preventions (DLP) systems</li>
<li>Searchah4le incident event repository (SIEM)</li>
</ul>
<div class="article-image" id="monitoring_methods">
  <div>
    <div  class="image-overlay">
      <img src="/images/monitoring_methods.png" alt="Monitoring Methods" ng-click="setFragment('monitoring_methods')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Funky image description</p>
  </div>
</div>