<p>Nowadays, virtually all of Industrial Control Systems (ICS) have a local area network set up where the control room can monitor all the physical conditions. Due to all of this online data, it is highly convenient to then un-air gap the entire ICS so that it can e remotely monitored from some HQ. This also allows easier patching, troubleshooting and general maintenance.</p>

<b><a id="monitoring-airgap" href='networking'>Neworking & Air-Gap</a></b>

<p>In ICS, physical systems are connected back to a type of specialised computer that actually controls it.  It is these specialised computers that make the bridge between controlling the physical systems and receiving programming or instructions from a network. These are the industrial controllers, and they are the systems being targeted to create physical damage or disrupt a revenue generating industrial process in cyber attacks. Industrial controllers come in different varieties, but you will hear terms such as <b>PLC</b> (programmable logic controllers) and <b>DCS</b> (distributed control systems) used commonly to refer to different types of these.</p>

<p>However, this convenient to manage network introduces a critical risk into the ICS. Just as the controlling HQ can check the ICS for data, so can a malicious outsider attempt to hack themselves into the network. In order to prevent and detect these patterns, one can do the following:</p>

<ul>
<li><b><a href="" ui-sref="article.userprivileges">Privilege Segmentation</a></b></li>
<li><b>Monitoring End-points</b></li>
<li><b>Firewall & Anti-virus</b></li>
</ul>

<h3 id="monitoring-monitoring">Continuous Monitoring of Network End-points</h3>
<p>
Monitoring the security status of a network is common practice for IT security teams but less common in operations environments…[there is also] value in monitoring industrial network infrastructure equipment such as routers, switches, gateways etc. These systems connect the segments and can be compromised. They need to be assessed, a baseline taken and a monitoring effort applied.
</p>
<div class="article-image" id="monitoring_icsdiagram">
  <div>
    <div class="image-overlay">
      <img src="images/monitoring_icsdiagram.png" alt="ICS Structure Diagram" ng-click="setFragment('monitoring_icsdiagram')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>ICS Structure Diagram</p>
  </div>
</div>
<h3 id="monitoring-firewall">Firewall & Antivirus:</h3>

<p>Firewall & Antivirus are another form of common continuous monitoring methods.</p>

<p>Methods of monitoring:</p>
<ul>
<li>Technical monitoring tools, such as intrusion detection or prevention systems (IDS and IPS)</li>
<li>Data loss preventions (DLP) systems</li>
<li>Searchable incident event repository (SIEM)</li>
</ul>
<div class="article-image" id="monitoring_methods">
  <div>
    <div  class="image-overlay">
      <img src="images/monitoring_methods.png" alt="Monitoring Methods" ng-click="setFragment('monitoring_methods')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Monitoring Methods</p>
  </div>
</div>

<quiz quiz="quizzes.monitoring_quiz"></quiz>

<h5>References:</h5>
<ul>
  <li>CREST, (2013). Cyber Security Incident Response Guide, Accessed March 2017, Available at:<br><a href="https://www.crest-approved.org/wp-content/uploads/2014/11/CSIR-Procurement-Guide.pdf">https://www.crest-approved.org/wp-content/uploads/2014/11/CSIR-Procurement-Guide.pdf</a></li>
  <li>NIST, (2015). Guide to Industrial Control Systems (ICS) Security, Accessed March 2017, Available at:<br><a href="http://csrc.nist.gov/publications/drafts/800-82r2/sp800_82_r2_second_draft.pdf">http://csrc.nist.gov/publications/drafts/800-82r2/sp800_82_r2_second_draft.pdf </a></li>
  <li>ENISA, (2017). ENISA Threat Landscape Report 2016. Accessed February 2017, Available at:<br><a href="https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016">https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016</a></li>
</ul>
