<p>Removable media belong to one of the 3 most common initial vectors in intrusions. </p>
<p>
  Needless to say that most, if not all companies use removable media to some extent to transfer data. However, using removable media carries multiple risks and responsibilities which need to be assessed. The failure to maintain secure  transport of data via removable media might lead to multiple serious issues.
</p>

<h4  id="removable-intro">A statement by ENISA</h4>
<p>ENISA’s Annual Threat Landscape for 2016 states, that lost laptops and USB-drives account for around 40% of confirmed data breaches. Moreover, it also states that more than 70% of end devices have weak or no encryption of storage media. It also states that this threat is not being recognised to the full extent.</p>

<h4 id="removable-loss">Loss of media</h4>
<p>First of all, the loss of removable media means loss or even compromise of large volumes of potentially sensitive information. One possible solution is to transfer encrypted data over secured networks wherever possible to avoid the need of removable media. Furthermore, information transported on removable media should be encrypted to avoid breach in case of loss of the media.</p>

<h4 id="removable-malware">Malware</h4>
<p>The biggest security issue with removable media is the introduction of malware into the system. Media might be infected on machines outside of the organisation, or already infected media may be provided directly to the organisation. This issue was highlighted in the Stuxnet attack, when malware was transported into the air gapped Industrial Control System on infected removable media from companies associated with the affected Iranian plant. The adversaries’ goal was to destroy centrifuges in the fuel enrichment plant by increasing their rotor speed. </p>

<div class="article-image" id="monitoring_methods">
  <div>
    <div  class="image-overlay">
      <img src="images/stuxnet_removable.png" alt="Companies targeted by Stuxnet adversaries" ng-click="setFragment('monitoring_methods')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>An overview of the companies which were targeted in order to introduce the Stuxnet malware into the air gapped plant</p>
  </div>
</div>

<h4 id="removable-personal">Personal devices</h4>
<p>In the modern world, all employees own smart devices like smartphones. These devices can also be used to transfer files. Some employees might charge these devices at work by plugging them into work machines, which also might introduce malware into the system. Therefore, Removable media controls are closely related to user education and discipline.
</p>

<h4 id="removable-sanitation">Sanitation and disposal of removable media</h4>
<p>Finally, after the life cycle of removable media, or when it gets replaced by newer equipment, the organisation should ensure proper sanitisation of the media, or its disposal such that adversaries will not be able to recover any data that could aid an attack. The NIST Special Publication 800-88 provides guidance and procedures on the appropriate sanitisation and disposal.
</p>

<h4 id="removable-tips">Recommendations</h4>
  <h6>The top things organisations should do to increase removable devices security:</h6>
  <ol>
    <li>If use of external removable media is unavoidable, it should be scanned on a remote computer which is disconnected from the network.</li>
    <li>All employees should have assigned removable media which they will be held responsible for and ensure all users are aware of their responsibilities (see User Education and Awareness)</li>
    <li>Unused ports on computers should be disabled to avoid unauthorised use of removable media.</li>
    <li>When removable media is to be destroyed or discontinued, it should be done using appropriate steps to ensure any data previously stored on the given device will be inaccessible.</li>
  </ol>

<quiz quiz="quizzes.removable_media"></quiz>  

<h5>References:</h5>
<ul>
  <li>ENISA, (2017). ENISA Threat Landscape Report 2016. Accessed February 2017, Available at:<br><a href="https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016">https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016</a></li>
  <li>National Cyber Security Centre, (2016). 10 Steps: Removable Media Controls. Accessed February 2017,
Available at:<br><a href="https://www.ncsc.gov.uk/guidance/10-steps-removable-media-controls">https://www.ncsc.gov.uk/guidance/10-steps-removable-media-controls</a></li>
 <li>Tang A, (2016). Reducing the risks of removable media. Accessed February 2017,
Available at:<br><a href="http://blogs.mti.com/blog/reducing-the-risks-of-removable-media">http://blogs.mti.com/blog/reducing-the-risks-of-removable-media</a> </li>
<li>Cyber advisory service, (2016). Removable Media Controls - 10 Steps to Cyber Security. Accessed February 2017,
Available at:<br><a href="http://www.cyberadvisoryservice.co.uk/advice/information-security-advice/removable-media-controls/">http://www.cyberadvisoryservice.co.uk/advice/information-security-advice/removable-media-controls/</a>
</li>
<li>Zetter, K. (2014). An Unprecedented Look at Stuxnet, the World’s First Digital Weapon. Accessed February 2017
Available at:<br><a href="https://www.wired.com/2014/11/countdown-to-zero-day-stuxnet/">https://www.wired.com/2014/11/countdown-to-zero-day-stuxnet/</a>
</li>
</ul>
