<p>Working away from the office location is fast becoming a widespread way of working.
  It can have numerous benefits for employees, but can also present an additional security
   risk to the industrial control systems. Risk managmenent of the ICSs should iclude
   risk based policies and procedures that support mobile working
   or remote access to systems that are applicable to users, as well as service providers.
   All employees should be provided with an appropriate advice and training
   on the secure use of mobile devices, e.g. VPN connection to the industrial intranet.</p>

<p>Since working from remote location involves using internet connection, rather than using corporate infrastructure
   it poses the risk to the security of the industrial control systems. Attackers may use man-in-the-middle
   attack in order to gain access to data, they also may try to steal the device. ICS administrators should develop
   policies to decrease the threat posed by the remote working. </p>

<h5>Risks (according to NCSC)</h5>

   <ul>
     <li><b>Loss or theft of the device </b> - mobile devices are highly vulnerable to being lost or stolen, potentially offering access to sensitive information or systems. They are often used in open view in locations that cannot offer the same level of physical security as your own premises </li>
     <li><b>Tampering </b> - an attacker may attempt to subvert the security controls on the device through the insertion of malicious software or hardware if the device is left unattended (e.g. use of keyloggers). This may allow them to monitor all user activity on the device, including authentication credentials, what can compromise security of ICSs </li>
     <li><b>Man-in-the-middle attack </b> - it allows a malicious third party to intercept, send and receive data meant for someone else, or not meant to be sent at all, without either outside party knowing until it is too late</li>
   </ul>

   <h5>Recomendations</h5>
     <h6>The top 4 things organisations should do to effectively manage user privileges:</h6>
     <ol>
       <li><b>Educate users and maintain awareness </b> - all users should be trained on the use of their mobile device for the locations they will be working in, e.g. how to use VPN connection</li>
       <li><b>Introduce the use of VPN </b> - with a VPN, employees use ​public network infrastructure including the Internet to establish a connection and tap into the virtual network through much cheaper local leased lines or even just broadband connections, rather than specially leased lines. Use of VPN dramatically decreases the risk of man-in-the-middle attack </li>
       <li><b>Protect stored data </b> - Encrypt and minimise the amount of information stored on a mobile device </li>
       <li><b>Create a mobile working policy </b> - assess the risks associated with all types of mobile working and remote access </li>
   </ol>

     <h5>References:</h5>
     <ul>
     <li>National Cyber Security Centre, (2016). 10 Steps: Home and Mobile Working. Accessed February 2017, Available at:<br><a href="https://www.ncsc.gov.uk/guidance/10-steps-home-and-mobile-working">https://www.ncsc.gov.uk/guidance/10-steps-home-and-mobile-working</a></li>
     <li>ENISA, (2017). ENISA Threat Landscape Report 2016. Accessed February 2017, Available at:<br><a href="https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016">https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016</a></li>
   </ul>
