<h2>Risk and Incidence Management</h2>


<p>Risk and Incidence Management is one of the most important parts of a cyber security regime. Industrial Control Systems especially require quick thinking and incidence resolve, so a good incidence response plan is crucial. This requires a high amount of foresight and planning for a large variety of situations to ensure a proper reaction due to such high stakes.</p>
<p>
Many ICS has 99.99% up-time guarantees and generally cannot afford any down-time whatsoever. Risk prevention is therefore crucial and if a problem arises, incidence response must be quick.
</p>

<img src="/images/hacking_stat1.png" alt="Hacking stat1" height = 30% width = 50%/>
<h3>Risk Mitigation (The Before):</h3>

<p>The best defence is prevention. Unfortunately, it is also the least recognised and glorious part. However, if a system administrator can set-up a correct risk management regime, the rewards can be incredible.</p>

<p>According to a BCG study, over 70% of all cyber attacks are due to organisational, process, and people failures. All of these can be prevented before-hand.</p>

<h3>Here’s what ICSs should focus on:</h3>

<h4>People training:</h4>
<ul>
  <li>Ordinary -> Against social engineering</li>
  <li>Tech
    <ul>
      <li>Writing realistic policies</li>
      <li>Finding insecure servers</li>
      <li>Monitoring routers and gateways</li>
      <li>user education link</li>
    </ul>
  </li>
</ul>

<h4>Having an incidence response plan:</h4>
<ul>
  <li>Back-ups</li>
  <li>Quick incidence recognition (Easier with an ICS, as physical change. Yahoo realised after a year)</li>
  <li>Who has what rights/powers/responsibilities during an incident to manage a quick response</li>
</ul>

<h4>Delegate access rights:</h4>
<ul>
  <li>Log extra amendments</li>
  <li>Introduce time limits to deal with “privilege creep”</li>
  <li>access rights link</li>
</ul>

<img src="/images/hacking_stat2.png" alt="Hacking stat2" height = 30% width = 50%/>

<p>
The main difference between different types of cyber security incident appears to lie in the source of the incident (eg a minor criminal compared to a major organised crime syndicate), rather than the type of incident (eg hacking, malware or social engineering).
</p>

<p>
It can however still be the case that an attack on an ICS is successful. In that case, it is important to engage the Cyber Incident Response Plan.
</p>

<img src="/images/incident_risks.png" alt="Main Risks" height = 10% width = 70%/>


<h3>Incidence Response:</h3>


<h4>Investigation:</h4>

<p>
Once the attack is thought to be over, ensure that it indeed is over. A Canadian multinational telecommunications company Nortel was once infiltrated and thought that was it. The initial attack has however introduced a backdoor and Nortel hasn’t noticed for 10 years. They eventually went bankrupt and closed down.
</p>

<p>
An investigation into the attack should then follow. A blameless culture is crucial for this so as to find mistakes quickly.
</p>

<p>The early part of an investigation is often referred to as Triage, which consists of:</p>
<ul>
  <li>Classifying cyber security incidents (eg critical, significant, normal or negligible impact)</li>
  <li>Prioritising these incidents (eg high, medium or low)</li>
  <li>Assigning incidents to appropriate personnel in terms of their legitimacy, correctness, constituency origin, severity or impact.</li>
</ul>

<img src="/images/incident_assessment.png" alt="Risk Assesment" height = 10% width = 70%/>

<p>
Providing resourcing and response expertise, by gaining access to more experienced, dedicated
technical staff who understand how to carry out sophisticated cyber security incident investigations
quickly and effectively
</p>
<ul>
  <li>Conducting technical investigations, by providing deep technical knowledge about the cyber security incident, including: the different types of attacker (and how they operate); advanced persistent threats; methods of compromising systems; and sophisticated analysis of malware</li>
  <li>Performing cyber security analysis, for example by monitoring emerging cyber threats; applying
modern analytic capabilities to aggregate relevant data from many different systems; and providing
situational awareness, particularly in the area of cyber intelligence</li>
</ul>




<p>
https://www.tripwire.com/state-of-security/ics-security/3-ics-security-incidents-rocked-2016-learn/
https://www.tripwire.com/state-of-security/ics-security/approach-cyber-security-industrial-control-systems/
https://www.bcgperspectives.com/content/articles/technology-digital-building-a-cyberresilient-organization/?utm_source=201702TA&utm_medium=Email&utm_campaign=bdl
https://www.crest-approved.org/wp-content/uploads/2014/11/CSIR-Procurement-Guide.pdf
</p>
