<p>Having an approach to identify baseline technology builds for ensuring
  configuration management can greatly improve the security of industrial systems.
  A strategy should be developed in order to remove or disable unnecessary functionality
  from systems, and to quickly fix known vulnerabilities, usually via patching.
  Failure to do so is likely to result in increased risk of compromise of systems
 and information. </p>

<p>THIS LEADS TO: (infographics with hyperlink to those examples)
unauthorised changes to the systems, exploitation of software bugs or the unsecure system configuration. </p>

<p>Improper system configuration puts security of industrial control system at risk. A third party may be able to gain the access to the information they are not authorised to see by taking advantage of unnecessary user rights, connecting peripheral devices which may infect the system, or create a backdoor for a zero-day exploit.
</p>
