<h5 id="config-importance">Why secure configuration of ICSs is so important?</h5>
<p>Secure configuration of ICSs plays a crucial role in preventing malicious attacks. ICS administrator should remove or disable unnecessary functionality from systems. The biggest risks linked with improper configuration of ICSs include:
</p>
<ul>
  <li><b>Exploitation of software bugs </b> - hackers may apply known vulnerabilities of the software in order to gain an access to the system or steal the data</li>
  <li><b>Unauthorised access and exploatation of the system </b> - hackers may exploit the lack of security in the system in order to install malicious software or a backdoor for zero-day attack. It was the case with an attack on the Ukrainian power grid, where hackers were able to infect the system with BlackEnergy3 trojan in order to gain access to the system and perform the attack.
      Common examples of system exploitation include:
      <ul>
        <li>Connection of unauthorised equipment (pendrives, etc.)</li>
        <li>Creation of a back door access to the system, like in the Ukrainian attack</li>
        <li>Unauthorised access to the data</li>
        <li>Taking advantage of unnecessary user rights and privileges</li>
      </ul>
  </li>
</ul>

<div class="article-image" id="config_graph">
  <div>
    <div  class="image-overlay">
      <img src="images/malware_family.png" alt="Malware Family Distribution" ng-click="setFragment('config_graph')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Malware Family Distribution</p>
  </div>
</div>

<p>Improper system configuration puts security of industrial control system at risk. A third party may be able to gain the access to the information they are not authorised to see by taking advantage of unnecessary user rights, connecting peripheral devices which may infect the system, or create a backdoor for a zero-day exploit.
</p>

<h5 id="config-howto">How can you achieve a secure configuration?</h5>

<p><ul>
<li><b>Policies to update the software:</b> implement policies to ensure that security patches are applied in an appropriate time frame. Automated patch management and software update tools might be helpful. The connection to the internet should be limited as much as possible
</li>
<li><b>Disable unnecessary peripheral media access:</b> assess the need for access to peripheral devices and removable media. Disable ports and system functionality that does not support a user or business need
</li>
<li><b>White-listing:</b> Create and maintain a whitelist of authorised applications and software that can be executed. Systems should prevent the installation of any unauthorised software
</li>
<li><b>Limit user priveleges:</b>	 Constrain internet and email access to the privileged accounts. This limits exposure to spear phishing
</li>
</ul></p>

<h5>Examples of secure configuration</h5>

<p>Because the output of ICS relates to physical processes, the effects of any downtime – such as a power outage – can affect millions of people.

For this reason, organisations that support critical infrastructure cannot risk downtime by allowing automatic security updates for ICS that could cause systems to restart or shut down.
</p>
<blockquote class="blockquote">
<p>Nuclear reactors, for example, typically run on 18-month cycles and any downtime is costly at around £33,000 an hour in fines from the industry regulator.</p>
</blockquote>

<p>Although those systems should be 100% time up they still are taken offline and patched in regular time intervals, to make sure that all possible software bugs are fixed </p>
<div class="article-image" id="monitoring_methods">
  <div>
    <div  class="image-overlay">
      <img src="images/kaspersky_secureconfig.png" alt="Monitoring Methods" ng-click="setFragment('monitoring_methods')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Recommendations by Kaspersky to maintain secure configurations</p>
  </div>
</div>

<h5 id="config-consequences">Consequences of the lack of ICSs secure configuration:</h5>
  <p><ul>
  <li><b>Ukrainian power grid attack</b> The cyber attacks in Ukraine are the first publicly acknowledged incidents to result in power outages. As future attacks may occur, it is important to scope the impacts of the incident. The Ukrainian incidents affected up to 225,000 customers in three different distribution‐level service territories and lasted for several hours. Hackers exploit improper system configuration by: successful spear fishing (lack of two-factor authentication in the system), infecting systems with BlackEnergy 3 and KillDisk Trojans, and theft of credentials and use of VPN and existing remote access tools to enter and control the ICS network
  </li>
  <li><b>German steel mill attack</b> In late 2014, a German steel mill was the target of a cyberattack when hackers successfully took control of the production software and caused significant material damage to the site.
    The attackers were able to hack to the office software network, from which they were able to access plans of control systems of the German steel mill and alter its security settings to cause a significant damage to the infrastructure.
  </li>
  </ul></p>

  <quiz quiz="quizzes.secure_config"></quiz>

  <h5>References:</h5>
  <ul>
  <li>National Cyber Security Centre, (2016). 10 Steps: Secure configuration. Accessed February 2017, Available at:<br><a href="https://www.ncsc.gov.uk/guidance/10-steps-secure-configuration">https://www.ncsc.gov.uk/guidance/10-steps-secure-configuration</a></li>
  <li>Electricity sharing and analysis center, (2016). Analysis of the Cyber Attack on the Ukrainian Power Grid. Accessed February 2017, Available at:<br><a href="https://ics.sans.org/media/E-ISAC_SANS_Ukraine_DUC_5.pdf">https://ics.sans.org/media/E-ISAC_SANS_Ukraine_DUC_5.pdf</a></li>
  <li>Symnatec, (2016). Destructive Disakil malware linked to Ukraine power outages also used against media organizations, Accessed February 2017, Available at:<br><a href="https://www.symantec.com/connect/blogs/destructive-disakil-malware-linked-ukraine-power-outages-also-used-against-media-organizations">https://www.symantec.com/connect/blogs/destructive-disakil-malware-linked-ukraine-power-outages-also-used-against-media-organizations</a></li>
  <li>Wired, (2016). Everything We Know About Ukraine’s Power Plant Hack, Accessed February 2017, Available at: <br><a href="https://www.wired.com/2016/01/everything-we-know-about-ukraines-power-plant-hack/">https://www.wired.com/2016/01/everything-we-know-about-ukraines-power-plant-hack/</a></li>
  <li>Sentryo, (2016). Cyberattack on a german steel-mill, Accessed February 2017, Available at: <br><a href="https://www.sentryo.net/cyberattack-on-a-german-steel-mill/">https://www.sentryo.net/cyberattack-on-a-german-steel-mill/</a></li>
</ul>
