<p>
On December 23, 2015, the Ukrainian Kyivoblenergo, a regional electricity distribution company, reported service outages to customers. It was caused by third party’s illegal entry into the company’s computer and SCADA system (Supervisory control and data acquisition). Seven 110 kV and 2335 kV substations were disconnected for 3 hours. It was later revealed that the cyber attack impacted additional portions of the distribution grid and forced operators to switch to manual mode.
</p>
<blockquote class="blockquote">
<p>
The outages were originally thought to have affected approximately 80,000 customers, based on the Kyivoblenergo’s update to customers. However, later it was revealed that three different distribution oblenergos (a term used to describe an energy company) were attacked, resulting in several outages that caused approximately 225,000 customers to lose power across various areas. Within the Ukrainian electrical system, these attacks were directed at the regional distribution level, as shown below:
</p>
</blockquote>
<p>~ Electricity sharing and analysis center, (2016). Analysis of the Cyber Attack on the Ukrainian Power Grid. </p>

<div class="article-image" id="monitoring_icsdiagram">
  <div>
    <div class="image-overlay">
      <img src="/images/ukraine_system.png" alt="ICS Structure Diagram" ng-click="setFragment('monitoring_icsdiagram')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Ukraine electric system overview</p>
  </div>
</div>

<p>Shortly after the attack, Ukrainian government officials claimed the outages were caused by a cyber attack, and that Russian security services were responsible for the incidents. Following these claims, investigators in Ukraine, as well as private companies and the U.S. government, performed analysis and offered assistance to determine the root cause of the outage.
 </p>

<h4>Perspective of the attack </h4>

<blockquote class="blockquote">
<p>
The cyber attacks in Ukraine are the first publicly acknowledged incidents to result in power outages. The Ukrainian
  incidents affected up to 225,000 customers in three different distribution‐level service
  territories and lasted for several hours.
</p>
</blockquote>
<p>~ Electricity sharing and analysis center, (2016). Analysis of the Cyber Attack on the Ukrainian Power Grid. </p>


<h4>Attacker Tactics Techniques </h4>

<p>The strategy and sophistication of this power grid attack is consistent with a highly structured and resourced third party actor. The attacker was very adaptive and demonstrated varying tactics and techniques to match the defenses and environment of the three impacted targets.
The attackers demonstrated a
  variety of capabilities, including spear phishing emails, variants of the BlackEnergy 3
  malware, and the manipulation of Microsoft Office documents that contained the malware
  to gain an access to IT networks of the electricity
  companies. They demonstrated the capability to steal credentials
  and information to gain access to the ICS network. Additionally, the attackers showed expertise,
  not only in network connected infrastructure, such as Uninterruptable Power Supplies,
  but also in operating the ICSs through supervisory control system, such as the Human Machine
  Interface. </p>

  <blockquote class="blockquote">
  <p>
    The adversaries demonstrated the capability
    and willingness to target field devices at substations, write custom malicious firmware,
    and render the devices, such as serial‐to‐ethernet convertors, inoperable and unrecoverable.
    The attackers also used telephone systems to generate thousands of calls to
    the energy company’s call center to deny access to customers reporting outages.
  </p>
  </blockquote>
<p>
  The strongest capability of the attackers was not in their choice of tools
  or in their expertise, but in their capability to perform long‐term reconnaissance
  operations required to learn the environment and execute a highly synchronized,
  multistage, multisite attack.
 </p>

<p>The following is the list of techniques which hackers used</p>

<div class="article-image" id="monitoring_icsdiagram">
  <div>
    <div class="image-overlay">
      <img src="/images/ukraine_attackers_list.png" alt="ICS Structure Diagram" ng-click="setFragment('monitoring_icsdiagram')"/>
      <div class="bg" ng-click="setFragment('')"></div>
    </div>
  </div>
  <div class="description">
    <p>Ukraine Attack Consolidated Technical Components</p>
  </div>
</div>

<h4>Attacker's opportunities </h4>

<p>Multiple opportunities existed for the adversary to execute its attack. Prior to the attack, there was a variety of open‐source
  information available; including a detailed list of types of infrastructure such
  as Remote Terminal Unit (RTU) vendors and versions posted online by ICS vendors.
 </p>
  <blockquote class="blockquote">
  <p>
      The VPNs into the ICS from the business network appear to lack two‐factor authentication.
  Additionally, the firewall allowed the adversary to remote admin out of the environment
  by utilizing a remote access capability native to the systems
  </p>
  </blockquote>

  <p>Media reports revealed the there was no capability to continually
  monitor the ICS network and search for abnormalities and threats through active
  defense measures. These vulnerabilities provided the adversary the opportunity to conduct reconnaissance on the environment and subsequently
  execute the attack.
</p>

  <p>Why these local distribution and supply services were targeted remains an open debate. Some example decision
    factors could include: </p>

  <ul>
    <li>Targets with common systems and configurations </li>
    <li>Multiple systems with common centralized control points </li>
    <li>ICS impact duration estimates (e.g., long term or short term) </li>
    <li>Existing capabilities required to achieve desired results </li>
    <li>Risk level of performing the operation and being discovered </li>
    <li>Achieved access and ability to move and act within the environment </li>
  </ul>
