<p>Properly manages user privileges constitute in a big extent for the security of the industrial control systems.
  A user privilege is a right to execute a particular type of command, or a right to access another user's object within
  the system. The types of privileges are defined by the administrator of the system. If users are provided with unnecessary
  system privileges or data access rights, then the system has an increased vulnerability for potential deliberate or accidental attacks.</p>

<p> To battle this issue companies have to undertake a series of actions which should result in all users of ICT
  systems being only provided with the privileges that they need to do their job. This principle is often referred
  to as ‘Least Privilege’. </p>

<p> There are many risks originating in inappropriate user privileges of ICSs. Some notable examples applicable to ICS are the misuse of
  privileges, increased attacker capability or negating established security controls. </p>

<p> Privileged users are attackers’ primary target as they have access to various parts of the system and rights
   associated with the system, thus they number should be kept as low as possible. Moreover as pointed by ENISA the privilege abuse
   constututed for 70% of all cases of insider attacks in 2016  </p>

<h5>Risks (according to NCSC)</h5>

<ul>
  <li><b>Misuse of privileges </b> - Authorised users can misuse the privileges assigned to them to either deliberately or accidentally compromise ICT systems. For example to make unauthorised changes to the configuration of systems, leading to a loss of the confidentiality, integrity or availability of information or ICT systems </li>
  <li><b>Increased attacker capability </b> - Attackers will use unused or compromised user accounts to carry out their attacks and, if allowed to, they will return and reuse the compromised account on numerous occasions, or sell the access to others. The system privileges provided to the original user of the compromised account will be available to the attacker to use. Ultimately attackers will seek to gain access to root or administrative accounts to allow them full access to all system information, services and resources </li>
  <li><b>Negating established security controls </b> - Where attackers have privileged access to ICT systems they will attempt to cover their tracks by making changes to security controls or deleting accounting and audit logs so that their activities are not detected</li>
</ul>


<h5>Recomendations</h5>
  <h6>The top 5 things organisations should do to effectively manage user privileges:</h6>
  <ol>
    <li><b>Decide what privileges user needs </b> - system users need to undergo some form of screening to a level that is commensurate with the sensitivity of the information they will have access to, it can allow the employer to properly set the account privileges within the system</li>
    <li><b>Managage and review user privileges </b> - appropriate procedures should manage and review user accounts from creation and modification through to eventual deletion when a member of staff leaves, it should comply with the ‘Least privilege’ principle. Highly privileged accounts should be reviewed more often than the accounts of normal users </li>
    <li><b>Introduce standards for privileged users identification and access control </b> - system itself should enforce complicated, alphanumeric passwords which can limit the possibility of gaining the access to privileged account by the intruder. Moreover the log-in highly-privileged accounts should involve two-factor authorisation </li>
    <li><b>Limit the number and use of privileged accounts </b> - strictly control the number of privileged accounts for roles such as system or database administrators. Ensure that this type of account is not used for high risk or day to day user activities, for example to gain access to external email or browse the Internet </li>
    <li><b>Monitor all users </b> - monitor user activity, particularly all access to sensitive information and the use of privileged account actions, such as the creation of new user accounts, changes to user passwords or the deletion of accounts and audit logs</li>
  </ol>

  <h5>References:</h5>
  <ul>
  <li>National Cyber Security Centre, (2016). 10 Steps: Managing user privileges. Accessed February 2017, Available at:<br><a href="https://www.gov.uk/government/publications/10-steps-to-cyber-security-advice-sheets/10-steps-managing-user-privileges--11">https://www.gov.uk/government/publications/10-steps-to-cyber-security-advice-sheets/10-steps-managing-user-privileges--11</a></li>
  <li>ENISA, (2017). ENISA Threat Landscape Report 2016. Accessed February 2017, Available at:<br><a href="https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016">https://www.enisa.europa.eu/publications/enisa-threat-landscape-report-2016</a></li>
  <li>Wikipedia, (2016). Principle of least privilege. Accessed February 2017, Available at:<br><a href="https://en.wikipedia.org/wiki/Principle_of_least_privilege">https://en.wikipedia.org/wiki/Principle_of_least_privilege</a></li>
</ul>
